.card {
  max-width: 375px;
  margin-left: auto;
  padding: 10px 25px;

  border-radius: 10px;
  background-color: #686868;
  background-image: linear-gradient(to bottom left, #686868, #424448);

  color: white;

  &__title {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
  }

  &__input {
    height: 40px;
    width: 100%;
    position: relative;
    margin: 30px 0 45px;

    & input {
      width: 100%;
      height: 100%;
      padding: 25px 0;
      outline: none;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid #767679;

      font-size: 15px;
      font-weight: 600;
      color: white;
    }

    & input:focus ~ label,
    & input:valid ~ label {
      font-size: 15px;
      transform: translateY(-30px);
    }

    & label {
      position: absolute;
      bottom: 0;
      left: 0;
      color: #767679;
      font-weight: 600;

      pointer-events: none;
      transition: all 0.3s ease;
    }

    &__bottom {
      display: flex;
      align-items: flex-start;
      margin: 45px 0 30px;

      & div {
        flex: 1;
      }
    }

    &__error {
      color: rgb(255, 58, 58);
      font-size: 12px;
    }
  }

  &__date {
    margin-right: 10px;

    & label {
      font-size: 15px;
      transform: translateY(-30px);
    }
  }

  &__btn {
    width: 100%;
    padding: 15px 50px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #0ca1de;

    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
}

::-webkit-calendar-picker-indicator {
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
